<!DOCTYPE html>
<html>
  <head>
    <title>jovvi johnson</title>
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css'>


    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/angular/angular.js'></script>
    <script src='/bower_components/angular-ui-router/release/angular-ui-router.js'></script>
    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
  </head>

  <body ng-app='myApp' ng-controller='MyCtrl'>

  <center>
    <h1>full stack javascript developer</h1>
    <br>
  <ul id="nav">
    <li class="nav-items hvr-grow"><button class="btn" id="home">test</button></li>
    <li class="nav-items hvr-grow"><button class="btn" id="port">test</button></li>
    <li class="nav-items hvr-grow"><button class="btn" id="contact">test</button></li>
  </ul>
  </center>






    <ui-view></ui-view>

  </body>
</html>
