<!DOCTYPE html>
<html>
  <head>
    <title>jovvi johnson</title>
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css'>
    <link rel='stylesheet' href='/bower_components/hover/css/hover-min.css'>


    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/angular/angular.js'></script>
    <script src='/bower_components/angular-ui-router/release/angular-ui-router.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
  </head>

  <body ng-app='myApp' ng-controller='MyCtrl'>


  <div id="heading" class="animated fadeInDown">
    <!-- <p id="name">JOVVI JOHNSON</p> -->
    <center><div class="photo"></div></center>
    <p id="fswd">Full Stack Developer</p>
    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-angellist fa-2x" aria-hidden="true"></i>
  </div>

  <br>
  <br>


  <center>
  <ul id="nav">
    <li class="nav-items"><button class="btn hvr-grow" id="home" ui-sref='home'>HOME</button></li>
    <li class="nav-items"><button class="btn hvr-grow" id="about" ui-sref='about'>ABOUT</button></li>
    <li class="nav-items"><button class="btn hvr-grow" id="port" ui-sref='portfolio'>PROJECTS</button></li>
    <li class="nav-items"><button class="btn hvr-grow" id="resume" ui-sref='resume'>RESUME</button></li>
  </ul>
  </center>






    <ui-view></ui-view>

  </body>
</html>
